/* Follow us */

.followus {
  margin-bottom: 163px;
}

.followus__container {
  height: 100vh;
  width: 100%;
  background-image: url("./../img/followus-images/followus-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.followus__block {
  display: block;
  width: 36vw;
  height: 41.32vh;
  background-color: var(--followus-text-color);
  text-align: center;
  padding-top: 10vh;
  margin: 0 auto;

  position: relative;
  top: 30vh;
}

.followus__block-image-insta {
  margin-bottom: 24px;
}

.followus__block-title {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--followus-title-color);
}



