/* Header */

.header {
  height: 100vh;
  margin-bottom: 76px;
}

.header__container {
  height: 100vh;
  padding: 0 6vw;
  padding-top: 5.7vh;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 70px;
}

.header__nav-links {
  display: flex;
  align-items: center;
  position: relative;
  left: 48px;
}

.header__nav-list {
  display: flex;
  column-gap: 15.4%;

  z-index: 3;
}

.header__nav-list__item-link {
  color: var(--nav-color-text);
  font-size: 0.9rem;
}

.header__nav-btn-book {
  display: block;
  width: 7.8vw;
  height: 5vh;
  border-radius: 50px;
  border: 1px solid var(--nav-color-text);
  color: var(--nav-color-text);
  margin-left: 140px;

  z-index: 3;
}

.header__images {
  min-height: 70vh;
  min-width: 80vw;
  display: flex;
}

.header__images-image:nth-child(1) {
  width: 32.2vw;
  height: 81vh;

  margin: -1vh 13.5vw;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
}

.header__images-image:nth-child(2) {
  width: 20.6vw;
  height: 71.9vh;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  margin: 18.3vh 28.9vw;

  position: absolute;
  top: 0;
  right: 0;

  z-index: 2;
}

.header__images-image:nth-child(3) {
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__footer {
  width: 98vw;
  height: 150px;
  background-color: var(--header-footer-bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.header__footer-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--header-footer-color-text);

  position: absolute;
  top: 40px;
  /* left: 21vw; */

  padding-left: 22vw;

  margin-bottom: 8px;
}

.header__footer-desc {
  font-size: 1rem;
  color: var(--header-footer-color-text);

  position: absolute;
  top: 85px;
  /* left: 21vw; */

  padding-left: 25vw;
}

